.dummy
{
    text-align: left;
    margin-left: 10px;
}
.hi
{
    background-color: rgb(158, 158, 216);
}
h1{
    font-size: 25px;
    color: rgb(190, 157, 157);
}
h2{
    font-size: 18px;
    color: rgb(231, 149, 164);
}

