#Employeelist // .image

// {
//     float: left;
// }
.details {
  float: left;
  margin: 10px;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(88, 81, 81);
  text-align: center;
  padding: 10px;
}

// div
// {
//     border-style: solid;
//     border-radius: 15px;
//     border-color: rgb(88, 81, 81);
//     border-bottom-width: 5px;

// }
