<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img class="image" src="/assets/dummy.jpg" alt="" >
      <div class="btn btn-primary" routerLink="/Employeelist"> Back </div>

    </div>
    <div class="col-md-9">
      
      <div id=Employee>
        <table class="table table-bordered">
          <col span="2">
          <tbody>
            <tr>
              <th scope="row  "> Name</th>
              <td>{{employee.Name}}</td>
            </tr>
            <tr>
            <tr>
              <th scope="row"> Age</th>
              <td>{{employee.Age}}</td>
            </tr>
            <tr>
              <th scope="row"> Email</th>
              <td>{{employee.Email}}</td>
            </tr>
            <tr>
              <th scope="row">Date of Joining</th>
              <td>{{employee['Date of joining']}}</td>
            </tr>
            <tr>
              <th scope="row"> Phone Number </th>
              <td>{{employee['Phone number']}}</td>
            </tr> 
            <tr>
              <th scope="row">Street</th>
              <td>{{employee.Street}}</td>
            </tr>
            <tr>
              <th scope="row"> City </th>
              <td>{{employee.City}}</td>
            </tr>
            <tr>
              <th scope="row"> zip </th>
              <td>{{employee.Zip}}</td>
            </tr>
            <tr>
              <th scope="row"> Region </th>
              <td>{{employee.Region}}</td>
            </tr>
            <tr>
              <th scope="row"> Country </th>
              <td>{{employee.Country}}</td>
            </tr>
            <tr>
              <th scope="row"> Info </th>
              <td>{{employee.Info}}</td>
            </tr>
            <tr>
              <th scope="row"> Employee ID</th>
              <td>{{employee.EmployeeID}}</td>
            </tr>
      
            
          </tbody>
      
        </table>
      <div>
      
    </div>
  </div>
</div>