#home1 {
  background: url(src/assets/home.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 320px;
}

.nav-link {
  color: black;
  float: right;
  font-size: 22px;
}
