#forgotpassword{
    border: 10px rgb(201, 22, 22);
    margin: 55px;
    padding: 20px;
    width: 50%;
    margin: auto;
    background-color: rgb(240, 238, 236);
    margin-top: 1%;
    border-radius: 8px;

  }

  .form-control {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border-color: gray;
  }
  h2 {
    font-size: 25px;
    color: rgb(102, 64, 64);
    margin-left: 600px;
    margin-top: 2%;
  }
  .submit {
    background-color: gray;
    border-radius: 100px;
    width: 50%;
     margin-left: 20%;
    color: white;
    padding: 8px;
    text-align: center;
    font-size: 16px;
  }